<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ua.org.sedu.diary.anroiddiary"
    android:versionCode="1015"
    android:versionName="1.32" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="15" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activity.LoginScreen"
            android:theme="@android:style/Theme.NoTitleBar"
            android:noHistory="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.RequestAccountScreen"
            android:theme="@android:style/Theme.NoTitleBar"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.ChildSelectionScreen"
            android:theme="@android:style/Theme.NoTitleBar"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.DiaryScreen"
            android:theme="@android:style/Theme.NoTitleBar"
            android:noHistory="true"
            android:screenOrientation="portrait" >
        </activity>
    </application>

</manifest>